* {
    box-sizing:border-box;
}
body {
    height:100vh;
    margin:0;
    font-family: 'Josefin Sans', sans-serif;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 5fr 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: rgb(182 230 238)
}
header {
    grid-area: 1/1/2/3;
    display:flex;
    justify-content: center;
    align-items: center;
}
#flower-message {
    grid-area: 2/1/3/2;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#flower {
    height: 300px;
    width:300px;
    position:relative;
}
#flower > div {
    position:absolute;
    width: 100px;
    height: 100px;
}
    

#p1 {
    top:10%;
    left: 10%;
    background-color:rgb(255 188 193);
    border-top-right-radius: 50%;
    border-bottom-left-radius:50%;
}

#p2 {
    top:2%;
    left: 33.33%;
    background-color:rgb(255 188 193);
    border-top-right-radius: 50%;
    border-bottom-left-radius:50%;
    transform:rotate(45deg);
}
#p3 {
    top: 10%;
    right: 10%;
    background-color:rgb(255 188 193);
    border-top-left-radius: 50%;
    border-bottom-right-radius:50%;
}
#p4 {
    top:33.33%;
    left: 3px;
    background-color:rgb(255 188 193);
    border-top-left-radius: 50%;
    border-bottom-right-radius:50%;
    transform: rotate(45deg)
}

#p6 {
    top:33.33%;
    right: 3px;
    background-color:rgb(255 188 193);
    border-top-left-radius: 50%;
    border-bottom-right-radius:50%;
    transform:rotate(45deg);
}#p7 {
    top:56.63%;
    left:10%;
    background-color:rgb(255 188 193);
    border-top-left-radius: 50%;
    border-bottom-right-radius:50%;
}

#p8 {
    top:64.63%;
    left: 33.33%;
    background-color:rgb(255 188 193);
    border-top-right-radius: 50%;
    border-bottom-left-radius:50%;
    transform:rotate(45deg);
}#p9 {
    top:56.63%;
    right: 10%;
    background-color:rgb(255 188 193);
    border-width: 5%;
    border-top-right-radius: 50%;
    border-bottom-left-radius:50%;
}
#p5-core {
    top:33.33%;
    left: 33.33%;
    background-color:rgb(255 254 214);
    border-radius:50%;
}


#letter-buttons {
    grid-area: 2/2/3/3;
    
}
#guess-word {
    grid-area: 3/1/4/2;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
#game-buttons {
    grid-area: 3/2/4/3;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#start-game {
    visibility: visible;
}
#start-over {
    visibility: hidden;
}